/*VARIABLES*/
:root{
    --font: 'Lato', sans-serif;
    --buttonsColor: #0022cf;
    --font: 'Questrial', sans-serif;
}

*{
    box-sizing: border-box;
}

body{
    font-family: var(--font);
}

/*GLOBALS*/
.btn{
    border: none;
    outline: none;
    cursor: pointer;
}

.logo{
    width: 200px;
}

.center{
    text-align: center;
}

p{
    font-size: 1.1rem;
}

h1{
    color: white;
}

/*TABS*/
.tabs{
    background-color: white;
    overflow: hidden;
    width: 90%;
    height: 90%;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.tabs-controls{
    display: flex;
}

.btn-ctrl,
.btn-help{
    padding: 8px 16px;
    font-size: 1rem;
    letter-spacing: 1px;
    color: black;
}

.tabs .tabs-controls button.active{
    background-color: var(--buttonsColor);
    color: white;
}

.tabs .tabs-container{
    display: flex;
    flex-wrap: nowrap;
    transform: translatex(0);
    transition: all 0.3s;
}

.tabs .tabs-container .tab{
    width: 100%;
    flex-shrink: 0;
}

.tabs .tabs-container .tab .tab-content{
    width: 95%;
    height: 100%;
    margin: 20px auto;
}

/*TABS CONTENT*/
.customs-container{
    width: 100%;
    margin-bottom: 30px;
    display: flex;
    align-items: center;
    justify-content: flex-start;
}

.btn-arrows{
    background-color: var(--buttonsColor);
    width: 90px;
    height: 55px;
    padding: 5px 22px;
    border-radius: 10px;
    margin-bottom: 10px;
    margin-left: 20px;
}

.icon-up{
    transform: rotate(-90deg);
    max-width: 40px;
}

.icon-down{
    transform: rotate(90deg);
    max-width: 40px;
}

.icon-incl-up{
    transform: rotate(-45deg);
    max-width: 40px;
}

.icon-incl-down{
    transform: rotate(45deg);
    max-width: 40px;
}

.input-field{
    display: inline-block;
    width: 100px;
    height: 22px;
    text-align: center;
    border: 1px solid black;
}

.btn-fix{
    background-color: var(--buttonsColor);
    font-size: 1.1rem;
    width: 140px;
    padding: 20px 0px;
    border-radius: 10px;
    margin-right: 10px;
    color: white;
}

/*PERSONAL SETTINGS*/
.form-group{
    margin-bottom: 20px;
}

/*POP UP*/
.popup{
    position: fixed;
    top: 80px;
    left: 100px;
    width: 500px;  
    max-width: 80%;
    border: 1px solid black;
    transform: scale(0);
    transition: all 0.5s ease-in-out 0s;
}

.popup.active{
    transform: scale(1);
    transition: all 0.5s ease-in-out 0.125s;
    z-index: 100;
}

.popup-header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: var(--buttonsColor);
    border: 1px solid black;
    padding: 0px 15px;
}

.popup-header .btn-close{
    cursor: pointer;
    border: none;
    outline: none;
    background-color: red;
    color: white;
    font-size: 1.25rem;
    font-weight: bold;
}

.popup .popup-body{
    background-color: white;
    padding: 20px;
    width: 100%;
    border: 1px solid black;
    text-align: center;
}

/*REMINDER*/
.reminder-btns{
    margin-bottom: 20px;
}

.btn-go,
.btn-no{
    padding: 10px;
}
